@import "./../../config/colors.css";

#donNextStepsPage {
    padding: 0 18%;
}

#donNextStepsHeader {
    color: var(--orange);
}

#donNextStepsDesc, #donNextStepsQuestions, #donNextStepsPhone {
    font-weight: 400;
}

#donNextStepsDesc {
    padding-right: 35%;
}

#donNextStepsQuestions {
    display: inline;
}

#donNextStepsPhone {
    display: inline;
    color: var(--tertiary);
}

@media only screen and (max-width: 1050px) {
    #donNextStepsDesc {
        padding-right: 15%;
    }
}

@media only screen and (max-width: 1400px) {
    #donNextStepsPage {
        padding: 0 15%;
    }
}

@media only screen and (max-width: 840px) {
    #donNextStepsDesc {
        padding-right: 0;
    }

    #donNextStepsPage {
        padding: 0 12%;
    }
}

@media only screen and (max-width: 700px) {
    #donNextStepsPage {
        padding: 0 8%;
    }
}

@media only screen and (max-width: 630px) {
    #donNextStepsPage {
        padding: 0 4%;
    }
}

@media only screen and (max-width: 580px) {
    #donNextStepsPage {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 320px) {
    #donNextStepsHeader {
        font-size: 20px;
    }

    #donNextStepsDesc, #donNextStepsQuestions, #donNextStepsPhone {
        font-size: 92%;
    }
}