@import "config/colors.css";

#donDropoffPage {
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

.donDropoffPickupHeader {
  padding-top: 25px;
  color: var(--orange);
}

#donPDOptions {
  display: flex;
}

#donPDHeader {
  color: var(--orange);
}

.radioOptionLabel {
  display: inline;
}

.radioLabel {
  margin-left: 5px;
}

#radioDropoff {
  margin-right: 20px;
}

.donDropoffRow {
  padding-bottom: 15px;
}

.donDropoffHours {
  padding-left: 35px;
}

#donDropoffButtons {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.backButton,
.nextButton {
  padding: 10px 45px;
}

.backButton {
  color: var(--tertiary);
  font-weight: bold;
  background-color: var(--white);
  border: 2px solid var(--tertiary);
}

.nextButton {
  background-color: var(--tertiary);
  font-weight: bold;
  color: var(--white);
  border: 2px solid var(--tertiary);
}

.backButton:hover,
.nextButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .backButton,.nextButton {
    padding: 10px 45px;
  }
  #donDropoffPage {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
  #donPDOptions {
    flex-direction: column;
  }
  #radioPickUp {
    margin-top: 5%;
  }
}
