/* Global App Colors Config */

:root {
  --primary: #314d89;
  --secondary: #6db340;
  --white: #ffffff;
  --black: #000000;
  --white-gray: #fefefe;
  --gray-light: #dfdfdf;
  --box-shadow: #314d8926;
  --input-box: #314d8999;
  --red: #f23e16;
  --dashed-box: #8F8F8F;
  --background: #FCFDFF;
  --button-blue: #04B2D9;
}
