@import "config/colors.css";


#loginBox {
    height: 450px;
    width: 350px;
    background: var(--white-gray);
    border: none;
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    box-shadow: 0px 10px 24px var(--box-shadow);
    text-align: center;
    padding: 40px 80px;
}

#loginLogo {
    height: 115px;
    width: auto;
}

#loginForm {
    margin-top: 30px;
}

.loginInput {
    box-sizing: border-box;
    height: 48px;
    font-size: 13.5px;
    width: 100%;
    border: 1.5px solid var(--input-box);
    padding: 2%;
    
}

#passwordBox {
    font-family: inherit;
}

.passwordIcon {
    color: var(--primary);
    margin-right: 6px;
}

.loginLabel {
    color: var(--primary);
    text-align: left;
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 15px;
}

#loginPassword {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#loginForgotPassword {
    color: var(--secondary);
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

#loginForgotPassword:hover {
    text-decoration: underline;
    cursor: pointer;
}

#loginSubmit {
    margin-top: 20px;
    width: 100%;
    background-color: var(--primary);
    color: var(--white);
    padding: 15px;
    border: none;
    font-weight: bold;
}

#loginSubmit:hover {
    cursor: pointer;
}

.loginCreateAccount {
    display: inline;
    font-size: 13px;
    font-weight: 500;
}

#createAccountLink {
    color: var(--secondary);
}

#createAccountLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 640px) {
    #loginBox {
        box-shadow: none;
        padding: 0px;
        height: fit-content;
        width: 75%;
    }

    #loginLogo {
        height: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    #loginLogo {
        width: 85%;
    }

    .loginLabel {
        font-size: 12px;
    }

    #loginForgotPassword, .loginCreateAccount {
        font-size: 11px;
    }
}

@media only screen and (max-height: 530px) {
    #loginBox {
        margin-top: 60vh;
        box-shadow: none;
        padding: 0px;
        height: fit-content;
        width: 75%;
    }

    #loginLogo {
        height: auto;
        width: 80%;
    }
}

@media only screen and (max-height: 445px) {
    #loginBox {
        margin-top: 70vh;
    }
}

@media only screen and (max-height: 380px) {
    #loginBox {
        margin-top: 80vh;
    }
}

@media only screen and (max-height: 330px) {
    #loginBox {
        margin-top: 90vh;
    }
}

@media only screen and (max-height: 290px) {
    #loginBox {
        margin-top: 100vh;
    }
}