@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "config/colors.css";

#activeDonPage {
  padding: 1% 5%;
}

#activeDonHeader {
  color: var(--orange);
}

.tableCell {
  margin: 0;
  line-height: 1;
  font-weight: 600;
}

.needApproval {
  color: var(--orange);
  margin: 0;
  font-weight: 600;
  text-decoration: none;
  }
