#loginBox {
    height: 450px;
    width: 350px;
    background: #FEFEFE;
    border: none;
    margin: auto;
    margin-top: 18vh;
    box-shadow: 0px 10px 24px rgba(49, 77, 137, 0.15);
    text-align: center;
    padding: 40px 80px;
}

#loginLogo {
    height: 115px;
    width: auto;
}

#loginForm {
    margin-top: 30px;
}

.loginInput {
    height: 30px;
    font-size: 15px;
    width: 95%;
    border: 1.5px solid rgba(49, 77, 137, 0.6);
    padding: 2%;
}

.loginLabel {
    color: #314D89;
    text-align: left;
    margin: 0 0 2px 0;
    font-weight: 500;
    font-size: 15px;
}

#loginPassword {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#loginForgotPassword {
    color: #6DB340;
    margin: 0;
    font-weight: 500;
    font-size: 13px;
}

.loginForgotPassword:hover {
    text-decoration: underline;
    cursor: pointer;
}

#loginSubmit {
    margin-top: 20px;
    width: 100%;
    background-color: #314D89;
    color: white;
    padding: 15px;
    border: none;
    font-weight: bold;
}

#loginSubmit:hover {
    cursor: pointer;
}

.loginCreateAccount {
    display: inline;
    font-size: 13px;
    font-weight: 500;
}

#createAccountLink {
    color: #6DB340;
}

#createAccountLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media only screen and (max-width: 512px) {
    #loginBox {
        height: 400px;
        width: 250px;
        padding: 20px 50px;
    }

    #loginLogo {
        height: 80px;
    }

    #loginForm {
        margin-top: 10%;
    }

    .loginLabel {
        font-size: 13px;
    }

    #loginForgotPassword, .loginCreateAccount {
        font-size: 11.5px;
    }
}

@media only screen and (max-width: 352px) {
    #loginBox {
        height: 400px;
        width: 250px;
        padding: 10px 20px;
    }

    .loginInput {
        height: 20px;
        font-size: 13px;
    }

    #loginSubmit {
        margin-top: 20px;
        padding: 10px;
        border: none;
    }
}

@media only screen and (max-width: 292px) {
    #loginBox {
        height: 350px;
        width: 200px;
    }

    #loginLogo {
        height: 60px;
    }

    #loginForgotPassword, .loginCreateAccount {
        font-size: 10px;
    }
}