* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #f23e16;
  font-family: "Roboto";
}

p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000D26;
  font-family: "Rubik";
}