@import "config/colors.css";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

#forgotPasswordBox {
    width: 610px;
    height: 420px;
    margin: auto;
    left: 515px;
    top: 407px;

    box-sizing: border-box;

    background: var(--white-gray);
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
    box-shadow: 0px 8px 21px var(--box-shadow);
    padding: 55px 85px 68px 85px;
}

#forgotPasswordText {
    font-family: Rubik;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    margin: 0px 0px 34px 0px;
    text-align: left;

    color: var(--black);
}

@media only screen and (max-height: 900px) {
    #forgotPasswordBox {
        height: 420px;
    }

    .inputBox {
        height: 43px;
        font-size: 13px;
        font-weight: 500;
    }

    #sendButton {
        font-size: 17px;
        height: 43px;
    }
}


@media only screen and (max-height: 700px) {
    #forgotPasswordBox {
        height: 360px;
    }

    .inputBox {
        height: 43px;
        font-size: 13px;
        font-weight: 500;
    }

    #sendButton {
        font-size: 17px;
        height: 43px;
    }
}

.forgotPasswordMessage {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    margin: 0px 0px 34px 0px;
    text-align: left;

    color: var(--black);
}

.emailInput {
    font-family: Rubik;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    margin: 0px 0px 5px 0px;
    text-align: left;

    color: var(--black);
}

#sendButton {
    background: var(--primary);
    border: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    margin: 26px 0px 12px 0px;
    height: 51px;
    width: 100%;
    color: var(--white);
}

#sendButton:hover{
    cursor :pointer;
    border: 3px solid rgba(2, 5, 12, 0.15)
}

.inputBox {
    font-family: Rubik;
    box-sizing: border-box;
    height: 43px;
    width: 100%;
    border: 1px solid var(--input-box);
    padding: 0px;
    font-size: 13px;
    font-weight: 500;
}
.forgotPasswordMessage {
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    margin: 0px 0px 12px 0px;
}
@media only screen and (max-width: 850px) {
    #forgotPasswordBox {
        width: 590px;
        padding: 55px 100px 28px 100px;
    }
    
    #forgotPasswordText {
        font-size: 35px;
        margin: 0px 0px 12px 0px;
    }
    
    .forgotPasswordMessage {
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        margin: 0px 0px 12px 0px;
    }
    
    .emailInput {
        font-size: 17px;
        line-height: 25px;
    }

}

@media only screen and (max-width: 750px) {
    #forgotPasswordBox {
        width: 550px;
        padding: 53px 80px 28px 80px;
    }

    #forgotPasswordText {
        font-size: 36px;
        margin: 0px 0px 15px 0px;
    }
    
    .forgotPasswordMessage {
        font-size: 20px;
        line-height: 25px;
    }
}    

@media only screen and (max-width: 650px) {
    #forgotPasswordBox {
        width: 500px;
        padding: 52px 70px 30px 70px;
    }
    
    #forgotPasswordText {
        font-size: 36px;
        margin: 0px 0px 15px 0px;
    }
    
    .forgotPasswordMessage {
        font-size: 17px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 500px),
            screen and (max-height: 800px){
    #forgotPasswordBox {
        width: 400px;
        height: 310px;
        padding: 25px 45px 15px 55px;
    }
    
    #forgotPasswordText {
        font-weight: 600;
        font-size: 24px;
        margin: 0px 0px 15px 0px;
    }
    
    .forgotPasswordMessage {
        font-weight: 400;
        font-size: 15px;
        font-size: 11x;
        margin: 0px 0px 10px 0px;
    }
    
    .emailInput {
        font-family: Rubik;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        margin: 0px 0px 5px 0px;
    }
    
    #sendButton {
        font-weight: 500;
        font-size: 17px;
        margin: 26px 0px 0px 0px;
        height: 33px;
    }
}

@media only screen and (max-width: 400px),
            screen and (max-height: 800px){
    #forgotPasswordBox {
        width: 300px;
        height: 300px;
        padding: 25px 35px 15px 45px;
    }
    
    #forgotPasswordText {
        font-weight: 600;
        font-size: 20px;
        margin: 0px 0px 10px 0px;
    }
    
    .forgotPasswordMessage {
        font-weight: 400;
        font-size: 13px;
        font-size: 11x;
        margin: 0px 0px 8px 0px;
    }
    
    .emailInput {
        font-family: Rubik;
        font-weight: bold;
        font-size: 15px;
        line-height: 25px;
        margin: 0px 0px 5px 0px;
    }
    
    #sendButton {
        font-weight: 500;
        font-size: 17px;
        margin: 26px 0px 0px 0px;
        height: 33px;
    }
}

@media only screen and (max-width: 300px) {
    #forgotPasswordBox {
        width: 100%;
    }
    #forgotPasswordText {
        font-weight: 600;
        font-size: 20px;
        margin: 0px 0px 15px 0px;
    }

    .forgotPasswordMessage {
        font-weight: 00;
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }
}