#donLocPage {
  height: fit-content;
  width: 60%;
  margin-top: 5%; 
  margin-left: 20%;
  margin-right: 20%;
}

#donLocHeader {
  margin-top: 0;
  color: var(--orange);
}

.inputLabel {
  color: var(--primary);
  font-weight: bold;
  margin: 0;
  margin-bottom: 3px;
}

#donLocTopInputs {
  display: flex;
  justify-content: space-between;
}

#docLocBottomInputs {
  margin-top: 30px;
  border-radius: 0;
}

#docLocBottomInputs::after {
  border-radius: 0;
}

.donLocInput {
  width: 27vw;
  height: 35px;
  border: 1px solid var(--box-border);
  box-sizing: border-box;
  font-size: 16px;
}

#donBox {
  position: relative;
}

.donLocInput[type="number"] {
  -moz-appearance: textfield;
}

.donLocInput::-webkit-outer-spin-button,
.donLocInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.donLocInput:focus {
  outline: none;
  border-width: 2px;
}

#docLocButtons {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.backButton,
.nextButton {
  padding: 10px 45px;
}

.backButton {
  color: var(--tertiary);
  font-weight: bold;
  background-color: var(--white);
  border: 2px solid var(--tertiary);
}

.nextButton {
  background-color: var(--tertiary);
  font-weight: bold;
  color: var(--white);
  border: 2px solid var(--tertiary);
}

.backButton:focus,
.nextButton:focus {
  outline: none;
  border: 1px solid var(--box-border);
}

.backButton:hover,
.nextButton:hover {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  #donLocPage {
    width: 80%;
    margin-top: 5%; 
    margin-left: 10%;
    margin-right: 10%;
  
    background: var(--white-gray);
  }
  #donLocTopInputs {
    display: contents;
    justify-content: space-between;
    }
  .donLocInput {
    width: 80vw;
  }
  .backButton, .nextButton {
    padding: 10px 30px;
  }
  .inputLabel {
    color: var(--primary);
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10%;
  }
  #docLocBottomInputs {
    margin-top: 10%;
    border-radius: 0;
    margin-bottom: 10vh;
  }

}
