@import "config/colors.css";

#successBox {
  height: fit-content;
  width: 350px;
  background: var(--white-gray);
  border: none;
  margin: auto;
  box-shadow: 0px 10px 24px var(--box-shadow);
  text-align: center;
  padding: 40px 80px;

  position: absolute;
  top: 20vh;
  right: 0;
  left: 0;
}

#checkCircle {
  margin: 0;
}

#successButton {
  padding: 8px 40px;
  background-color: var(--tertiary);
  border: none;
  color: white;
  font-weight: 500;
}

@media only screen and (max-width: 640px) {
  #successBox {
    box-shadow: none;
    padding: 0px;
    height: fit-content;
    width: 75%;
  }
}