@import "config/colors.css";

#donatorNavbarLogo:hover {
  cursor: pointer;
}

#donatorNavbarHeaders {
  display: flex;
  flex-direction: row;
  color: var(--primary);
  font-weight: 500;
  line-height: 0;
}

.donatorNavbarHeader {
  padding: 25px 20px 0 20px;
  margin-bottom: 0;
}
.donatorNavbarHeader:hover {
  cursor: pointer;
}

.donatorNavbarLink {
  text-decoration: none;
  color: inherit;
  margin: 38px 0px 0px 35px;
  font-size: 17px;
}

#donatorNavbarUnderline {
  text-decoration: none;
  color: var(--primary);
  /* transform: translateY(-20px); */
  padding-bottom: 5px;
  border-bottom: 3px solid var(--primary);
}