@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "config/colors.css";

#createAccountStyles #createAccountBox {
  height: fit-content;
  width: 715px;
  margin: auto;

  box-sizing: border-box;
  text-align: center;

  background: var(--white-gray);
  margin-top: 55vh;
  transform: translateY(-50%);
  box-shadow: 0px 10px 24px var(--box-shadow);
  padding: 84px 117px;
  }

#createAccountStyles #createAccountText {
  font-family: Rubik;
  font-weight: 600;
  font-size: 36px;
  line-height: 10px;
  margin: 0px 0px 34px 0px;
  text-align: left;

  color: var(--black);
}

#createAccountStyles #accountTypeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
}

#createAccountStyles #userTypeLabel {
  margin: 0px 20px 0px 0px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
}

#createAccountStyles .accountLabel {
  color: var(--secondary);
  font-weight: bold;
  align-items: center;
  font-size: 15px;
}

#createAccountStyles input[type="radio"] {
  filter: grayscale();
  height: 1em;
  width: 1em;
  margin: 0px 4px 0 30px;
}

#createAccountStyles .userTypeButton:hover {
  cursor: pointer;
}

#createAccountStyles #nameBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#createAccountStyles #firstNameBox {
  width: 100%;
  padding-right: 0.5rem;
}
#createAccountStyles #lastNameBox {
  width: 100%;
  padding-left: 0.5rem;
}

#createAccountStyles .labelInputBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

#createAccountStyles .formLabel {
  font-family: Rubik;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 18px;

  color: var(--black);

  margin: 21px 0px 5px 0px;
}

#createAccountStyles #createAccountInputBox {
  font-family: Rubik;
  box-sizing: border-box;
  height: 43px;
  width: 100%;
  border: 1px solid var(--input-box);
  padding: 9px;
  font-size: 13px;
  font-weight: 500;
}

#createAccountStyles .inputError {
  text-align: left;
  color: var(--red);
  font-size: 13px;  
}

#createAccountStyles #signUpButton {
  background: var(--primary);
  border: none;

  font-family: Rubik;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  margin: 26px 0px 12px 0px;
  height: 51px;
  width: 100%;
  color: var(--white);
}
#createAccountStyles .createAccountLogin {
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {

  #createAccountStyles #createAccountBox {
    padding: 60px 90px;
    width: 600px;
    }
  
  #createAccountStyles #createAccountText {
    font-size: 32px;
    padding-bottom: 10px;
  }
  
  #createAccountStyles #accountTypeBox {
    padding: 0px;
    font-size: 12px;
  }
  #createAccountStyles input[type="radio"] {
    margin: 0px 4px 0 30px;
    height: 1.5em;
    width: 1.5em;
  }
  #createAccountStyles #userTypeLabel {
    font-size: 13px;
  }
  
  #createAccountStyles .accountLabel {
    font-size: 13px;
  }
  
  
  #createAccountStyles .formLabel {
    font-size: 12px;
    margin: 16px 0px 3px 0px;
  }
  
  #createAccountStyles #createAccountInputBox {
    font-size: 12px;
  }
  
  #createAccountStyles .inputError {
    font-size: 12px;
  }
  
  #createAccountStyles #signUpButton {
    background: var(--primary);
    border: none;
  
    font-family: Rubik;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    margin: 26px 0px 12px 0px;
    height: 45px;
    width: 100%;
    color: var(--white);
  }
  #createAccountStyles .createAccountLogin {
    font-size: 12px;
    line-height: 12px;
  }
}

@media only screen and (max-width: 640px) {
  #createAccountStyles #createAccountBox {
    margin-top: 50vh;
    box-shadow: none;
    padding: 0px;
    height: fit-content;
    width: 75%;
  }
}

@media only screen and (max-height: 640px) {
  #createAccountStyles #createAccountBox {
    margin-top: 0vh;
    transform: translateY(0%);
    box-shadow: none;
    padding: 0px;
    height: fit-content;
    width: 50%;
  }
}