@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import "config/colors.css";

#createAccountStyles #createAccountBox {
  height: auto;
  width: 50%;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  background: var(--white-gray);
  box-shadow: 0px 10px 24px var(--box-shadow);
  
  padding: 60px 90px;
  width: 600px;

  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
}

#createAccountStyles #createAccountText {
  font-family: Rubik;
  font-weight: 600;
  font-size: 36px;
  line-height: 10px;
  margin: 0px 0px 34px 0px;
  text-align: left;

  color: var(--black);
  white-space: nowrap;
}

#createAccountStyles #accountTypeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0px;
}

#createAccountStyles #userTypeLabel {
  margin: 0px 20px 0px 0px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  white-space: nowrap;
}

#createAccountStyles .accountLabel {
  color: var(--secondary);
  font-weight: bold;
  align-items: center;
  font-size: 15px;
}

#createAccountStyles input[type="radio"] {
  filter: grayscale();
  height: 1em;
  width: 1em;
  margin-right: 6px;
}

#createAccountStyles .userTypeButton:hover {
  cursor: pointer;
}

#createAccountStyles #nameBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.radioContainer {
  background-color: "red";
  display: flex;
  align-items: center;
}

#createAccountStyles #firstNameBox {
  width: 100%;
  padding-right: 0.5rem;
}
#createAccountStyles #lastNameBox {
  width: 100%;
  padding-left: 0.5rem;
}

#createAccountStyles .labelInputBox {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

#createAccountStyles .formLabel {
  font-family: Rubik;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 18px;

  color: var(--black);

  margin: 21px 0px 5px 0px;
}

#createAccountStyles #createAccountInputBox {
  font-family: Rubik;
  box-sizing: border-box;
  height: 43px;
  width: 100%;
  border: 1px solid var(--input-box);
  padding: 9px;
  font-size: 13px;
  font-weight: 500;
}

#createAccountStyles .inputError {
  text-align: left;
  color: var(--red);
  font-size: 13px;
}

#createAccountStyles #signUpButton {
  background: var(--primary);
  border: none;

  font-family: Rubik;
  font-style: normal;
  font-size: 17px;
  line-height: 21px;
  margin: 26px 0px 12px 0px;
  height: 51px;
  width: 100%;
  color: var(--white);
}
#createAccountStyles .createAccountLogin {
  font-size: 13px;
}

@media only screen and (max-width: 640px) {
  #createAccountStyles #createAccountBox {    
    box-shadow: none;
    padding: 0px;
    padding-bottom: 10%;
    width: 75%;
    margin: auto;
  }
  #createAccountStyles #createAccountText {
    font-size: 8vw;
  }

  #createAccountStyles #firstNameBox {
    padding-right: 0rem;
  }
  #createAccountStyles #lastNameBox {
    padding-left: 0rem;
  }
}

/* for nest hub */

@media only screen and (max-width: 1024px) and (max-height: 600px){
  #createAccountStyles #createAccountBox {    
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

/* for nest hub max */

@media only screen and (min-width: 1280px) and (max-height: 800px){
  #createAccountStyles #createAccountBox {    
    margin-top: 7vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
